spring:
    application:
        name: Motivora

    datasource:
        url: jdbc:postgresql://localhost:5432/motivora_db # <--- C'est correct, mais...
        username: motivora
        password: motivora
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        open-in-view: true
        properties:
            hibernate:
                format_sql: true
    mail:
        host: localhost 
        port: 9025
        username: no-reply@motivora.com
        password: Motivora123!
        properties:
            mail:
                smtp:
                    auth: false
                    starttls: 
                        enable: false
                        required: false
logging:
  level:
    org: 
        springframework: 
            security: DEBUG
server:
  servlet:
    context-path: /api

